nav
  ul
    li
      a(href='#salon') Salón
    li
      a(href='#flaco-de-oro') Flaco de Oro
    li
      a(href='#campeon-sin-corona') Campeón Sin Corona
    li
      a(href='#bella-de-noche') Bella de Noche
